@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.navfont {
	font-family: 'Grape Nuts', cursive;
}

.aboutmefont {
	font-family: 'Dancing Script', cursive;
}

.carousel {
	width:380px;
  height:500px;
}

form {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}